Infraestrutura/Service References/CartaoDeCreditoServiceRef/ServiceCartaoDeCredito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50022/ServiceCartaoDeCredito.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CartaoDeCreditoService" />
  <xs:element name="ObterSituacaoPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CartaoDeCreditoService" minOccurs="0" name="requisicao" nillable="true" type="q1:RequisicaoSituacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterSituacaoPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CartaoDeCreditoService" minOccurs="0" name="ObterSituacaoPagamentoResult" nillable="true" type="q2:RetornoRequisicaoSituacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>