Infraestrutura/Service References/FornecedorServiceRef/ServiceFornecedor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50926/ServiceFornecedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FornecedorService" />
  <xs:element name="ObterDisponibilidadeProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FornecedorService" minOccurs="0" name="produto" nillable="true" type="q1:ProdutoConsultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDisponibilidadeProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FornecedorService" minOccurs="0" name="ObterDisponibilidadeProdutoResult" nillable="true" type="q2:RetornoRequisicao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>