Infraestrutura/Service References/FornecedorServiceRef/ServiceFornecedor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FornecedorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FornecedorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProdutoConsultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuantidadeRequerida" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoConsultado" nillable="true" type="tns:ProdutoConsultado" />
  <xs:complexType name="RetornoRequisicao">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataEnvio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantidadeRequerida" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoRequisicao" nillable="true" type="tns:RetornoRequisicao" />
</xs:schema>